body {
  font-family: "Lato", sans-serif;
  background: #ccc;
}

header nav {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

header nav.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
}

header nav .navbar-brand {
  height: auto;
}

header nav .navbar-toggle {
  background: purple;
}

header nav .navbar-toggle .icon-bar {
  background: brown;
}

main {
  background: black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  min-height: 100vh;
}

main .col-left {
  background: black;
  color: white;
  min-height: 600px;
  padding: 15px;
}

main .col-right {
  background: white;
  height: 100vh;
  padding: 15px;
  overflow: auto;
}

main .article {
  border-bottom: 2px solid grey;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

main .article img {
  width: 40%;
  float: left;
  margin-right: 30px;
}

footer {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: yellow;
}

/* Small devices (tablets, 768px and up) */

/* Medium devices (desktops, 992px and up) */

/* Large devices (large desktops, 1200px and up) */

.margin0 {
  margin: 0;
}

.margin5 {
  margin: 5px;
}

.margin10 {
  margin: 10px;
}

.margin15 {
  margin: 15px;
}

.margin20 {
  margin: 20px;
}

.margin25 {
  margin: 25px;
}

.margin30 {
  margin: 30px;
}

.mt0 {
  margin-top: 0;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mr0 {
  margin-right: 0;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mb0 {
  margin-bottom: 0;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml0 {
  margin-left: 0;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.padding0 {
  padding: 0;
}

.padding5 {
  padding: 5px;
}

.padding10 {
  padding: 10px;
}

.padding15 {
  padding: 15px;
}

.padding20 {
  padding: 20px;
}

.padding25 {
  padding: 25px;
}

.padding30 {
  padding: 30px;
}

.pt0 {
  padding-top: 0;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pr0 {
  padding-right: 0;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pb0 {
  padding-bottom: 0;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pl0 {
  padding-left: 0;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.fs2 {
  font-size: 2px;
}

.fs4 {
  font-size: 4px;
}

.fs6 {
  font-size: 6px;
}

.fs8 {
  font-size: 8px;
}

.fs10 {
  font-size: 10px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs24 {
  font-size: 24px;
}

.fs26 {
  font-size: 26px;
}

.fs28 {
  font-size: 28px;
}

.fs30 {
  font-size: 30px;
}

.width0 {
  width: 0;
}

.width5 {
  width: 5%;
}

.width10 {
  width: 10%;
}

.width15 {
  width: 15%;
}

.width20 {
  width: 20%;
}

.width25 {
  width: 25%;
}

.width30 {
  width: 30%;
}

.width35 {
  width: 35%;
}

.width40 {
  width: 40%;
}

.width45 {
  width: 45%;
}

.width50 {
  width: 50%;
}

.width55 {
  width: 55%;
}

.width60 {
  width: 60%;
}

.width65 {
  width: 65%;
}

.width70 {
  width: 70%;
}

.width75 {
  width: 75%;
}

.width80 {
  width: 80%;
}

.width85 {
  width: 85%;
}

.width90 {
  width: 90%;
}

.width95 {
  width: 95%;
}

.width100 {
  width: 100%;
}
